body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.list {
  justify-items: center;
  width: 100%;
}

.error {
  color: red;
}

input {
  width: 500px;
}

.newTask {
  background-color: whitesmoke;
  list-style: none;
  padding: 5%;
  text-align: center;
}
