/* 
h1 {
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: center;
}

.container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 5%;
}

form {
  background: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

input {
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 22px;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

#add {
  cursor: pointer;
  padding: 0 5px;
}

.list {
  color: #555;
  font-size: 22px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.list li:hover {
  background-color: #f0f0f0;
}

li.checked {
  text-decoration: line-through;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type='text'],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
}

[type='text'] {
  width: 100%;
}

[type='text']:active,
[type='text']:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type='checkbox'] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222;
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52);
}
