body {
    padding: 50px;
    background-color: gray;
}
  
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoListMain li {
    list-style: none;
    background-color: bisque;
    padding-left: 0;
}

