.task-adder {
    display: flex;
    margin: 10px;
}

.task-adder input[type="text"] {
    flex: 1;
    margin-right: 8px;
}

table {
    border: 1px solid black;
    margin: 50px 10px;
    text-align: center;
}

thead,
th:last-child {
    width: 100%;
}

th {
    padding: 10px;
}