* {
    background-color: #9c27b0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.task-adder {
    display: flex;
    margin: 10px;
}

.task-adder *,
th,
td {
    padding: 10px;
}

.task-adder *,
table {
    border: 2px solid white;
}

.task-adder__text {
    flex: 1;
    margin-right: 8px;
}

.task-adder__button,
th {
    background-color: white;
    color: #9c27b0;
}

.task-adder input:focus {
    border: 2px solid #ce93d8;
    outline: none;
}

table {
    border-collapse: collapse;
    margin: 50px 10px;
    text-align: center;
}

thead,
th:last-child {
    width: 100%;
}