:root {
    --default-spacing: 20px;
    --search-color: #007474;
}

.search-bar {
    align-items: center;
    background-color:var(--search-color);
    display: flex;
    height: 75px;
    justify-content: center;
    left: 0;
    padding: var(--default-spacing);
    position: fixed;
    right: 0;
    top: 0;
}

.search-bar__input {
    border: none;
    border-radius: 20px;
    line-height: 2;
    outline: none;
    padding-left: var(--default-spacing);
    width: 40%;
}