body {
  margin: 0;
  padding: 0;
  background-color: cornsilk;
}

.form-ctn {
  background-color: coral;
  height: 100px;
}

.artist-list div{
    background-color:white;
    max-width: 150px;
    height: 200px;
}

img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}