*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigator {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: aquamarine;
}

.navigator input {
    height: 40px;
    border: none;
    outline: none;
}

.navigator input:first-child {
    width: 300px;
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
}

.navigator input:last-child {
    background-color: #fff;
    width: 50px;
    border-radius: 0 50px 50px 0;
}

h1 {
    text-align: center;
    height: 80px;
    line-height: 80px;
}

hr {
    background-color: aquamarine;
    width: 1200px;
    margin: 0 auto;
}

.result {
    display: flex;
}

.
/* .albumSearch__results {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .albumSearch__resultSingle {
    flex: 1 0 17%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 5px;
    margin: 1%;
    max-width: 17%;
  }
  
  .albumSearch__resultSingle:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .albumSearch__resultSingle img {
    margin: 20px;
  }
  
  .albumSearch__resultSingle p {
    margin: 5px;
    text-align: center;
    color: #393e46;
  } */