html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body > *, .head > * {
    padding: 0 10%;
}

.head {
    padding: 0;
    position: sticky;
    top: 0;
}

.head-menu {
    background-color: #000;
    color: white;
}

ul {
    margin: 0;
    padding: 16px 0;
}

li {
    display: inline;
    padding: 16px;
}

.head-caption {
    background-color: #c6bfbf;
    padding-top: 32px;
    padding-bottom: 16px;
}

h1 {
    margin: 0;
}

.content {
    display: flex;
    flex: 1;
}

.content p {
    padding: 0 32px 0 0;
}

footer {
    background-color: #0b4d14;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
}