body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

.sign-up-form {
    margin: auto;
    width: 50%;
}

.sign-up-form > div {
    align-items: center;
    display: flex;
    width: 100%;
}

.sign-up-form > div:not(.agreement) > * {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.agreement {
    font-size: 0.75rem;
}

.agreement > * {
    margin: 10px;
}

.agreement > span {
    align-items: center;
    display: inline-flex;
    flex: 1;
    font-weight: bold;
}

p {
    flex: 3;
}

p .register {
    color: white;
    padding: 0.1rem 0.3rem;
}

a {
    text-decoration: none;
}

.action-button {
    color: white;
    text-align: center;
}

.register {
    background-color: #5A9BD2;
}

.sign-in {
    background-color: #62BC62;
}